html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif, Verdana;
}

body {
    background: #23313E;
    color: #C7D7D6;
    margin: 3em 1em;
}

.head {
    padding: 1em 0 0.3em;
    font-size: 2.2rem;
} 

#main {
    background: #293C4F;
    text-align: center;
    padding: 1em;
    border-radius: 9px;
}

#img-div {
    background: #23313E;
    padding: 1em;
    border-radius: 9px;
    font-size: 1.6rem;
}

#img-caption {
    margin-top: 0.5em;
}

#tribute-info {
    margin: 30px 33%;
    font-size: 1.7rem;
}

.list {
    display:table;
    margin: 0 auto;
    text-align: left;
    line-height: 1.6;
}

li {
    padding-top: 1em;
}

li > span {
    font-weight: 950;
}

img {
    display: block;
}

#image {
    max-width: 60%;
    height: auto;
    margin: auto;
    border-radius: 11px;
}

.more-info {
    font-size: 1.9rem;
}

a:link {
    text-decoration: none   ;
    color: #1982AD;
}

a:hover {
    text-decoration: none   ;
    color: #62A7C5;
}

a:visited {
    text-decoration: none   ;
    color: #748992;
}